[mysqld]
skip-host-cache
skip-name-resolve

#Diretorios
datadir				= /var/lib/mysql/db
tmpdir				= /var/lib/mysql/temporary
innodb_data_home_dir		= /var/lib/mysql/innodb
innodb_log_group_home_dir	= /var/lib/mysql/redolog
innodb_log_file_size            = 512M
